body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Kepler Std', sans-serif;
    scroll-behavior: smooth;
    background-color: #202020;
}


.cursor{
    width: 1rem;
    height: 1rem;
    border: 1.5px solid #c48555;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform: rotate(45deg);
    transition: 0.2s;
    z-index: 10;
}


/*HEADER*/

.Menu{
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    left: 10%;
    font-size: 15px;
    z-index: 5;
}

.Contactus{
    color: #ffffff;
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    right: 50px;
    font-size: 15px;
}



.hamburger-menu{
    width: 75px; 
    height: 30px;
    position: absolute;
    top: 42px; 
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*création des lignes */
.line-1, .line-2{
    width: 100%;
    height: 0.5px;
    background-color: white;
    transition: all 0.8s;
}

/*Animation en croix*/ 
.hamburger-menu{
    z-index: 5;
    position: fixed;
}

.line-1-rotate{
    transform: rotate(45deg) translate(10px) scale(0.5);
    transform-origin: top;
    background-color: #c48555;
    border: 2px;
}

.line-2-rotate{
    transform: rotate(-45deg) translate(10px) scale(0.5);
    transform-origin: bottom;
    background-color: #c48555;
    border: 2px;
}


/*menu full page*/

.navbar{
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition: all 800ms ease-in-out;
    overflow: hidden;
}

.change {
    opacity: 1;
    transform: translateX(0%);
}

.nav-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 2px orange; */
    width: 50%;
    padding: 0;
    margin-top: 50px;
}

.nav-item{
    /* border: solid 2px rgb(17, 0, 255); */
    width: 100%;
    margin-bottom: 60px;
}

.nav-link{
    text-decoration: none;
    font-size: 40px;
    font-stretch: expanded;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    z-index: 10;
    transform: translateY(10%);
    transition: all 300ms ease-in;
    color: white;
    /* border: solid 2px rgb(4, 179, 155); */
    margin: 15% auto;
    font-weight: lighter;
}



.btn-reservation{
    border: 1px solid #c48555;
    background-color: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: 30px;
    color: white;
    font-weight: lighter;
    font-stretch: semi-expanded;
    font-size: 10px;
    font-family: 'Kepler Std', sans-serif;

}

.numero{
    font-family: 'Kepler Std', sans-serif;
    color: white;
    position: absolute;
    left: 60px;
    bottom: 10px;
    font-size: 15px;
    /* border: solid 2px violet; */
    padding: 0;
    letter-spacing: 1px;
}





/*SECTION 1*/

.one{
    border: 2px rgb(106, 199, 0) solid;
    width: 100%;
    height: 100vh;
    background-image: url('/images/page2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


.abouttxt1{
    color: white;
    border: 2px red solid;
    position: absolute;
    font-size: 100px;
    font-stretch: ultra-expanded;
    letter-spacing: 5px;
    height: min-content;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 0;
    font-weight: lighter;
    width: min-content;
    margin-top: 20%;
    margin-bottom: 0;
}

.loremtxtabout{
    color: #ffffff;
    border:rgb(201, 20, 110) 2px solid;
    font-family: 'Kepler Std', sans-serif;
    font-weight: lighter;
    position: absolute;
    text-align: center;
    justify-content: center;
    padding: 0;
    top: 40%;
    margin: 0;
    left: 60%;
}

.clickAbout{
    border: 2px solid rgb(7, 173, 76);
    position: absolute;
    color: #c48555;
    padding: 0;
    margin-top: 38%;
    font-size: 20px;
    left: 200px;
}

.scrollDown{
    font-size: 15px;
    font-style: italic;
    border: 1px solid wheat;
    width: max-content;
    position: relative;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    color: white;
}







/*SECTION 2*/

.two{
    border: 2px aqua solid;
    width: 100%;
    height: 100vh;
}

.two h1{
    color:#c48555;
    position: absolute;
    border: 2px solid red;
    font-size: 25px;
    left: 200px;
    margin-top: 10%;
}

.two p{
    color: #a5a5a5;
    border: 1px solid orange;
    position: absolute;
    left: 200px; 
    margin-top: 15%;
    font-size: 20px;
    font-stretch: expanded;
    letter-spacing: 2px;
    font-weight: lighter;
    width: max-content;
}

.carteBtn{
    border: orange 1px solid;
    position: absolute;
    color: white;
    font-size: 15px;
    font-stretch: expanded;
    position: absolute;
    left: 200px;
    margin-top: 25%;
    padding: 5px 40px;
    font-weight: lighter;
}




/*SECTION 3*/

.three{
    border: 2px rgb(255, 174, 0) solid;
    width: 100%;
    height: 150vh;
    margin: 0;
    padding: 0;
}

.slogan{
    /* border: 2px yellow solid; */
    margin-top: 8%;
    padding: 0;
}

.sloganTxt1{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    font-stretch: expanded;
    border: tomato 2px solid;
    width: max-content;
    margin: 0 auto;
}

.sloganTxt2{
    color: #c48555;
    font-size: 40px;
    font-weight: lighter;
    font-stretch: expanded;
    border: tomato 2px solid;
    width: max-content;
    margin: 0 auto;
}


.imgAbout1{
    border:rgb(7, 173, 76) 2px solid; 
    width: 30%;
    height: 55%;
    margin-top: 10%;
    margin-left: 13%;
    background-image: url('/images/pexels-lachlan-harmer-4291723.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.txt1About{
    color: #a5a5a5;
    font-weight: lighter;
    font-stretch: expanded;
    border: 2px solid rgb(39, 7, 114);
    width: max-content;
    margin-left: 50%;
    font-size: 20px;
    margin-top: -20%;
    line-height: 1.5em;
}

.NameDirector{
    border: orange 1px solid;
    position: absolute;
    color: white;
    font-size: 15px;
    font-stretch: expanded;
    position: absolute;
    padding: 5px 40px;
    font-weight: lighter;
    margin-left: 50%;
    margin-top: 2%;
}



/*SECTION 4*/

.four{
    border: 2px rgb(141, 16, 120) solid;
    width: 100%;
    height: 170vh;
}

.sloganFour{
    color: white;
    font-size: 50px;
    border: 2px aqua solid;
    font-weight: lighter;
    font-stretch: expanded;
    width: max-content;
    text-align: center;
    margin: 10% auto;
}

.imgFour{
    width: 75%;
    height: 60%;
    border: steelblue 2px solid;
    margin: 0 auto;
    background-image: url('/images/michael-browning-MtqG1lWcUw0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


/*SECTION 5*/

.five{
    border: 2px rgb(146, 206, 7) solid;
    width: 100%;
    height: 100vh;
}


.imgFive{
    width: 25%;
    height: 80%;
    border: thistle 2px solid;
    margin-left: 65%;
    margin-top: 5%;
    background-image: url('/images/spencer-davis-dnQ5sauaFz0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 128%;
}

.emporterTxt1{
    border: 2px solid rgb(34, 158, 40);
    color: #c48555;
    font-size: 20px;
    font-weight: lighter;
    font-stretch: expanded;
    width: max-content;
    margin-left: 15%;
    margin-top: -20%;
}

.emporterTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: normal;
    font-stretch: expanded;
    border: 2px solid orange;
    margin-left: 15%;
    line-height: 1.5em;
    width: max-content;
}




/*SECTION 6*/

.six{
    border: 2px rgb(121, 16, 153) solid;
    width: 100%;
    height: 100vh;
}

.conditionsTxt{
    color: #c48555;
    font-size: 30px;
    /* border: 2px solid rgb(15, 214, 8); */
    font-weight:normal;
    font-stretch: expanded;
    width: max-content;
    margin: 12% auto;
}

.lineLeft{
    border-bottom: #c48555 2px solid;
    width: 26%;
    margin-left: 10%;
    margin-top: -13.5%;
}

.lineRight{
    border-bottom: #c48555 2px solid;
    width: 26%;
    margin-left: 64%;
}

.conditionsTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight:normal;
    font-stretch: expanded;
    border: 2px solid yellow;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}


/*SECTION 7*/

.seven{
    border: 2px rgb(146, 206, 7) solid;
    width: 100%;
    height: 100vh;
}

.imgSeven{
    width: 30%;
    height: 80%;
    border: green 2px solid;
    margin-top: 5%;
    margin-left: 15%;
    background-image: url('/images/jonathan-borba-21tOEaJPM_o-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.menuTxt{
    color: #c48555;
    font-size: 20px;
    font-weight: normal;
    font-stretch: expanded;
    /* border: 2px solid red; */
    width: max-content;
    margin-left: 50%;
    margin-top: -20%;
}

.menuTxt2{
    color: #a5a5a5;
    /* border: 2px solid pink; */
    font-size: 15px;
    width: max-content;
    margin-left: 50%;
}



/*SECTION 8*/

.eight{
    border: 2px rgb(102, 75, 223) solid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.horairesTxt{
    color: #c48555;
    font-size: 30px;
    /* border: 2px solid rgb(15, 214, 8); */
    font-weight:normal;
    font-stretch: expanded;
    width: max-content;
    margin: 12% auto;
}

.lineLeft2{
    border-bottom: #c48555 2px solid;
    width: 26%;
    margin-left: 10%;
    margin-top: -13.5%;
}

.lineRight2{
    border-bottom: #c48555 2px solid;
    width: 26%;
    margin-left: 64%;
}


/*FOOTER*/

footer{
    border: 2px solid rgb(60, 255, 0);
    width: 100%;
    height: 10vh;
}

.copyroght_footer{
    border: solid orange 2px;
    width: 30%;
    height: 5vh;
    position: relative;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.copyright_footer_img{
    width: 60px;
    height: 60px;
    background-image: url('/svg/iconmonstr-copyright-2-240.png');
    background-position: center;
    background-repeat: no-repeat;
}