body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Kepler Std', sans-serif;
    scroll-behavior: smooth;
    background-color: #202020;
}


.cursor{
    width: 1rem;
    height: 1rem;
    border: 1.5px solid #c48555;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform: rotate(45deg);
    transition: 0.2s;
    z-index: 10;
}


/*HEADER*/

.Menu{
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    left: 10%;
    font-size: 15px;
    z-index: 5;
}

.Contactus{
    color: #ffffff;
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    right: 50px;
    font-size: 15px;
    z-index: 5;
}



.hamburger-menu{
    width: 75px; 
    height: 30px;
    position: absolute;
    top: 42px; 
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*création des lignes */
.line-1, .line-2{
    width: 100%;
    height: 0.5px;
    background-color: white;
    transition: all 0.8s;
}

/*Animation en croix*/ 
.hamburger-menu{
    z-index: 5;
    position: fixed;
}

.line-1-rotate{
    transform: rotate(45deg) translate(10px) scale(0.5);
    transform-origin: top;
    background-color: #c48555;
    border: 2px;
}

.line-2-rotate{
    transform: rotate(-45deg) translate(10px) scale(0.5);
    transform-origin: bottom;
    background-color: #c48555;
    border: 2px;
}


/*menu full page*/

.navbar{
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition: all 800ms ease-in-out;
    overflow: hidden;
}

.change {
    opacity: 1;
    transform: translateX(0%);
}

.nav-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 2px orange; */
    width: 50%;
    padding: 0;
    margin-top: 50px;
}

.nav-item{
    /* border: solid 2px rgb(17, 0, 255); */
    width: 100%;
    margin-bottom: 60px;
}

.nav-link{
    text-decoration: none;
    font-size: 40px;
    font-stretch: expanded;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    z-index: 10;
    transform: translateY(10%);
    transition: all 300ms ease-in;
    color: white;
    /* border: solid 2px rgb(4, 179, 155); */
    margin: 15% auto;
    font-weight: lighter;
}



.btn-reservation{
    border: 1px solid #c48555;
    background-color: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: 30px;
    color: white;
    font-weight: lighter;
    font-stretch: semi-expanded;
    font-size: 10px;
    font-family: 'Kepler Std', sans-serif;

}

.numero{
    font-family: 'Kepler Std', sans-serif;
    color: white;
    position: absolute;
    left: 60px;
    bottom: 10px;
    font-size: 15px;
    /* border: solid 2px violet; */
    padding: 0;
    letter-spacing: 1px;
}



/*SECTION 1*/

.one{
    border: 2px rgb(106, 199, 0) solid;
    width: 100%;
    height: 100vh;
    background-image: url('/images/page3.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.one h1{
    color: white;
    border: 2px yellow solid;
    font-size: 80px;
    font-stretch: ultra-expanded;
    letter-spacing: 5px;
    height: min-content;
    position: absolute;
    font-weight: lighter;
    width: max-content;
    left: 15%;
    top: 35%;
}


.oneLorem{
    color: white;
    font-weight: lighter;
    text-align: center;
    border: 2px solid green;
    width: max-content;
    position: absolute;
    top: 40%;
    left: 70%;
}

.scrollDown{
    font-size: 15px;
    font-style: italic;
    border: 1px solid wheat;
    width: max-content;
    position: relative;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    color: white;
}

.clickCarte{
    border: 2px solid rgb(7, 173, 76);
    position: absolute;
    color: #c48555;
    padding: 0;
    margin-top: 32%;
    font-size: 20px;
    left: 15%;
}





/*SECTION 2*/

.two{
    border: 2px rgb(49, 76, 211) solid;
    width: 100%;
    height: 150vh;
}

.PlatsTxt{
    color: white;
    font-weight: normal;
    font-stretch: expanded;
    font-size: 40px;
    border: turquoise 2px solid;
    width: max-content;
    position: relative;
    top: 14%;
    left: 15%;
}

.PlatsTxt2{
    color: #c48555;
    font-weight: normal;
    font-stretch: expanded;
    font-size: 15px;
    border: turquoise 2px solid;
    width: max-content;
    position: relative;
    top: 12%;
    left: 50%;
}


.imgPlats{
    border: 2px solid pink;
    width: 30%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 15%;
    margin: 0;
    background-image: url('/images/aviv-rachmadian-YYxaDJ2cLeo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.img2Plats{
    border: rgb(110, 103, 10) 2px solid;
    width: 45%;
    height: 30%;
    position: relative;
    top: -55%;
    z-index: 3;
    left: 50%;
    background-image: url('/images/samuel-foster-LxD9fZYR2uw-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 60%;
}

.txtPlat{
    color: #a5a5a5;
    border: 2px solid brown;
    width: max-content;
    position: relative;
    left: 50%;
    top: -50%;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}



/*SECTION 3*/

.three{
    border: 2px rgb(223, 39, 247) solid;
    width: 100%;
    height: 100vh;
}

.txtThree{
    color: #c48555;
    font-weight: normal;
    font-stretch: expanded;
    font-size: 40px;
    border: 3px solid salmon;
    text-align: center;
    margin: 10% auto;
    width: max-content;
}

.lineThree{
    border-left: #c48555 2px solid;
    height: 40%;
    margin-left: 50%;
}


/*SECTION 4*/

.four{
    border: 2px rgb(175, 13, 13) solid;
    width: 100%;
    height: 150vh;
}

.imgFour{
    width: 30%;
    height: 70%;
    margin-left: 60%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/images/mae-mu-1CepXNIjP7Q-unsplash.jpg');
    background-position: center;
}

.fourTxt{
    color: #c48555;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: normal;
    border: 2px solid green;
    width: max-content;
    margin-left: 15%;
    margin-top: -20%;
}

.fourTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: normal;
    font-stretch: expanded;
    border: 2px solid orange;
    margin-top: 2%;
    margin-left: 15%;
    line-height: 1.5em;
    width: max-content;
}



/*SECTION 5*/

.five{
    border: 2px rgb(22, 255, 243) solid;
    width: 100%;
    height: 150vh;
}

.imgFive{
    width: 30%;
    height: 70%;
    margin-left: 15%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/images/louis-hansel-74yRjQ-cvNI-unsplash.jpg');
    background-position: center;
    
}

.fiveTxt{
    color: #c48555;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: normal;
    border: 2px solid green;
    width: max-content;
    margin-left: 55%;
    margin-top: -20%;
}

.fiveTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: normal;
    font-stretch: expanded;
    border: 2px solid orange;
    margin-top: 2%;
    margin-left: 55%;
    line-height: 1.5em;
    width: max-content;
}

/*SECTION 6*/

.six{
    border: 2px rgb(168, 6, 41) solid;
    width: 100%;
    height: 150vh;
}


.imgSix{
    width: 30%;
    height: 70%;
    margin-left: 60%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/images/kobby-mendez-idTwDKt2j2o-unsplash.jpg');
    background-position: center;
    
}

.sixTxt{
    color: #c48555;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: normal;
    border: 2px solid green;
    width: max-content;
    margin-left: 15%;
    margin-top: -20%;
}

.sixTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: normal;
    font-stretch: expanded;
    border: 2px solid orange;
    margin-top: 2%;
    margin-left: 15%;
    line-height: 1.5em;
    width: max-content;
}

/*SECTION 7*/

.seven{
    border: 2px rgb(229, 231, 100) solid;
    width: 100%;
    height: 150vh;
    
}

.txt1Seven{
    color: #c48555;
    font-size: 50px;
    font-weight: normal;
    font-stretch: expanded;
    text-align: center;
    border: 2px solid slateblue;
    margin: 5% auto;
    width: max-content;
}

.imgSeven{
    margin-top: 5%;
    width: 30%;
    height: 70%;
    position: relative;
    left: 15%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/images/jenn-kosar-jrWoDRmhwRY-unsplash\ \(1\).jpg');
    background-position: center;
}

.sevenTxt{
    color: #c48555;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: normal;
    border: 2px solid green;
    width: max-content;
    margin-left: 55%;
    margin-top: -20%;
}

.sevenTxt2{
    color: #a5a5a5;
    font-size: 15px;
    font-weight: normal;
    font-stretch: expanded;
    border: 2px solid orange;
    margin-top: 2%;
    margin-left: 55%;
    line-height: 1.5em;
    width: max-content;
}


/*FOOTER*/

.footer{
    border: 2px solid rgb(255, 0, 212);
    width: 100%;
    height: 10vh;
}