body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Kepler Std', sans-serif;
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y:hidden;
}

.cursor{
    width: 1rem;
    height: 1rem;
    border: 1.5px solid #c48555;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform: rotate(45deg);
    transition: 0.2s;
    z-index: 10;
}

/* #preloader{
    background: #3b055a url("/gif/E0jz.gif") no-repeat center center;
    background-size: 30%;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
} */


/*HEADER*/

.Menu{
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    left: 10%;
    font-size: 15px;
}

.Contactus{
    color: #ffffff;
    position: fixed;
    top: 35px;
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    right: 50px;
    font-size: 15px;
}


/*ADRESSE*/

.adresse{
    /* border: rgb(187, 216, 224) 2px solid; */
    width: 350px;
    height: 20px;
    position: fixed;
    bottom: 30px;
    left: 190px;
    display: flex;
}

.adresse img{
    width: 15px;
    height: min-content;
}

.adressTxt{
    color: white;
    font-weight: lighter;
    font-size: 15px;
    /* border: 2px solid peru; */
    position: relative;
    margin-top: 0;
    padding: 0;
    margin-left: 20px;
    height: min-content;
    font-stretch: expanded;
}





/*SECTION*/




section{
    height: 100vh;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    scroll-snap-align: start;
    transition: ease-in-out;
    overflow: hidden;
    
}



/*ANIMATION DES SECTIONS*/


.container2{
    scroll-snap-type: y mandatory;   /*oblige le scroll sue l'axe y*/
    overflow-y: scroll;
    height: 100vh; 
}



/*SECTION 1*/

.one{
    background-image: url("/images/img-accueil2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* border: 2px solid blue; */
}

.lorem-ispum-home{
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    justify-content: center;
    /* border: 2px solid green; */
    padding: 0;
    margin: 0;
    left: 170px;
    margin-top: 20px;
}

.bienvenue-txt{
    /* border: #3b055a 2px solid; */
    margin: 20% auto;
    width: 75%;
    height: 40%;
    display: flex;
}

.bienvenue{
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    font-weight: lighter;
    font-size: 100px;
    letter-spacing: 5px;
    /* border: 2px solid red; */
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 0%;
    height: max-content;
}

.Au{
    color: #ffffff;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: extra-expanded;
    font-size: 50px;
    position: relative;
    letter-spacing: 5px;
    /* border: 2px solid rgb(10, 140, 150); */
    bottom: 0;
    left: 0; 
    right: 0;
    top: 0;
    height: min-content;
    margin-top: 10%;
    margin-left: -25%;
    font-weight: lighter;
    margin-right: 20px;
}

.Cancuna{
    color: #c48555;
    font-family: 'Kepler Std', sans-serif;
    font-stretch: expanded;
    font-size: 50px;
    position: relative;
    letter-spacing: 5px;
    /* border: 2px solid rgb(18, 148, 18); */
    padding: 0;
    top: 0; 
    bottom: 0;
    height: min-content;
    margin-top: 10%;
    font-weight: lighter;

}


.counter{
    /* border: yellow 2px solid; */
    width: 90px;
    height: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 0;
    top: 90%;
    margin-left: -83%;
    display: flex;
}



.counterOneBienvenue{
    /* border: rgb(0, 38, 255) 2px solid; */
    color: white;
    font-weight: lighter;
    font-stretch: expanded;
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 20px;

}

.counterTwoBienvenue{
    color: #c48555;
    font-size: 20px;
    /* border: 2px solid rgb(25, 139, 10); */
    font-weight: lighter;
    font-stretch: expanded;
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}




@media screen and (min-width: 272px) and (max-width: 492px) {
    .one{
        background-image: url("/images/img-accueil2.png");
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 50%;
        /* border: 2px solid blue; */
    }
}






/*SECTION 2*/

.two{
    background-image: url("/images/page2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Kepler Std', sans-serif;
    border: 2px solid coral;
}

.aboutSection{
    border: 2px solid #cbf800;
    width: 75%;
    height: 35%;
    margin: 20% auto;
    display: flex;
    text-align: center;
}

.abouttxt1{
    color: white;
    border: 2px red solid;
    position: relative;
    font-size: 100px;
    font-stretch:ultra-expanded;
    letter-spacing: 5px;
    height: min-content;
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 0;
    font-weight: lighter;
}

.loremtxtabout{
    color: #ffffff;
    border:rgb(18, 148, 18) 2px solid;
    font-family: 'Kepler Std', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    left: 240px;
    margin-top: 20px;
}





/*SECTION 3*/
.three{
    background-image: url("/images/page3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* border: 2px solid yellow; */
}

.menuSection{
    /* border: 2px solid blue; */
    width: 75%;
    height: 35%;
    margin: 20% auto;
    display: flex;
    text-align: center;
}

.menutxt1{
    color: white;
    font-size: 70px;
    /* border: 2px solid green; */
    font-weight: lighter;
    font-stretch: ultra-expanded;
    width: 55%;
    height: min-content;
    margin-top: 0;
    text-align: left;
}

.loremtxtmenu{
    color: white;
    /* border:rgb(196, 28, 126) 2px solid; */
    font-family: 'Kepler Std', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-right: 0;
    height: min-content;
    margin-top: 0;
    margin-left: 21%;
}

.commanderSection{
    /* border: 2px solid red; */
    width: 75%;
    height: 35%;
    margin: 20% auto;
    display: flex;
    text-align: center;
}

.commandertxt1{
    color: white;
    font-size: 70px;
    /* border: 2px solid rgb(162, 196, 15); */
    font-weight: lighter;
    font-stretch: ultra-expanded;
    width: 40%;
    height: min-content;
    margin-top: 0;
    text-align: left;
}


.commandertxtabout{
    color: white;
    /* border: 2px solid orange; */
    font-family: 'Kepler Std', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-right: 0;
    height: min-content;
    margin-top: 0;
    margin-left: 27%;
}



/*SECTION 4*/

.four{
    background-image: url("/images/page4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* border: 2px solid violet; */
}


/*MENU BURGER*/

.container{
    width: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
}

/*propriétés du menu bg*/
.hamburger-menu{
    width: 75px; 
    height: 30px;
    position: absolute;
    top: 42px; 
    left: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*création des lignes */
.line-1, .line-2{
    width: 100%;
    height: 0.5px;
    background-color: white;
    transition: all 0.8s;
}

/*Animation en croix*/ 
.hamburger-menu{
    z-index: 5;
}

.line-1-rotate{
    transform: rotate(45deg) translate(10px) scale(0.5);
    transform-origin: top;
    background-color: #c48555;
    border: 2px;
}

.line-2-rotate{
    transform: rotate(-45deg) translate(10px) scale(0.5);
    transform-origin: bottom;
    background-color: #c48555;
    border: 2px;
}


/*menu full page*/

.navbar{
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    transform: translateX(100%);
    opacity: 1;
    transition: all 800ms ease-in-out;
    overflow: hidden;
}

.change {
    opacity: 1;
    transform: translateX(0%);
}

.nav-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 2px orange; */
    width: 50%;
    padding: 0;
    margin-top: 50px;
    list-style-type: none;
}

.nav-item{
    /* border: solid 2px rgb(17, 0, 255); */
    width: 100%;
    margin-bottom: 60px;
}

.nav-link{
    text-decoration: none;
    font-size: 40px;
    font-stretch: expanded;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    z-index: 10;
    transform: translateY(10%);
    transition: all 300ms ease-in;
    color: white;
    /* border: solid 2px rgb(4, 179, 155); */
    margin: 15% auto;
    font-weight: lighter;
}



.btn-reservation{
    border: 1px solid #c48555;
    background-color: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: 30px;
    color: white;
    font-weight: lighter;
    font-stretch: semi-expanded;
    font-size: 10px;
    font-family: 'Kepler Std', sans-serif;

}

.numero{
    font-family: 'Kepler Std', sans-serif;
    color: white;
    position: absolute;
    left: 60px;
    bottom: 10px;
    font-size: 15px;
    /* border: solid 2px violet; */
    padding: 0;
    letter-spacing: 1px;
}





